/* nav bar */
.navBar {
  width: 100%;
  height: 70px;
  padding: 0 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navRBox {
  display: none;
  width: 70%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navRBox p {
  cursor: pointer;
  transition: 0.5s all;
}
.navRBox p:hover {
  color: #fcaf17;
}
.logInBox {
  width: 185px;
  height: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: #01071552;
  cursor: pointer;
  border-radius: 5px;
}
.navBar .navCLogo {
  width: 46px;
  height: 33px;
}
.navBar p {
  font-family: "Satoshi";
  color: #fff;
  font-weight: 500 !important;
}
.humMenu {
  display: block;
}

/* Tabe view */
@media only screen and (min-width: 768px) {
  .navRBox {
    width: 65%;
    display: flex;
  }
  .navBar {
    padding: 0 10%;
    height: 100px;
  }
  .navBar .navCLogo {
    width: 93px;
    height: 62px;
  }
  .humMenu {
    display: none;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .navRBox {
    width: 40%;
  }
}
