@font-face {
  font-family: "PoppinsBold";
  src: url("./Assets/Fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("./Assets/Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi";
  src: url("./Assets/Fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf")
    format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

.pointer {
  cursor: pointer;
}
